{{ if eq .chezmoi.osRelease.id "debian" -}}


{{ $packages := list
	"curl"
	"git"
	"vim"
	"ripgrep"
	"fzf"
	"python3"
	"python3-pip"
	"tmux"
	"silversearcher-ag"
	"jq"
	"procps"
	"fonts-powerline"
	"unzip"
-}}

{{ $gui_packages := list
	"brave-browser"
-}}

{{ $zsh := list
	"zsh"
-}}

{{ $plasma_i3 := list
	"kde-full"
	"i3"
-}}

#!/bin/sh
# Add brave browser gpg
{{ if .gui_packages -}}
sudo curl -fsSLo /usr/share/keyrings/brave-browser-archive-keyring.gpg https://brave-browser-apt-release.s3.brave.com/brave-browser-archive-keyring.gpg
echo "deb [signed-by=/usr/share/keyrings/brave-browser-archive-keyring.gpg] https://brave-browser-apt-release.s3.brave.com/ stable main"|sudo tee /etc/apt/sources.list.d/brave-browser-release.list
{{ end -}}

# Install packages needed for all
sudo apt-get update
sudo apt-get install -y {{ $packages | join " " }}

{{ if .gui_packages -}}
sudo apt-get install -y {{ $gui_packages | join " " }}
{{ end -}}
{{ if .zsh -}}
sudo apt-get install -y {{ $zsh | join " " }}
{{ end -}}

{{ if .plasma_i3 -}}
sudo apt-get install -y {{ $plasma_i3 | join " " }}
{{ end -}}

{{ end -}}
