{{ if (and (not (.server)) (eq .chezmoi.os "linux")) -}}
#!/bin/zsh

source ~/.zshrc

conda env create -n analytics -f $CHEZMOI_SOURCE_DIR/environment.yml
conda activate analytics

# Set theme
jt -t oceans16


# Install needed extensions for jupyter ascending
jupyter nbextension install --py --sys-prefix jupyter_ascending
jupyter nbextension     enable jupyter_ascending --sys-prefix --py
jupyter serverextension enable jupyter_ascending --sys-prefix --py
{{ end -}}
