{{ if eq .chezmoi.os "linux" -}}

{{ $packages := list
	"curl"
	"git"
	"vim"
	"zsh"
	"ripgrep"
	"fzf"
	"python3"
	"python3-pip"
	"tmux"
	"silversearcher-ag"
-}}

#!/bin/sh

sudo apt-get update
sudo apt-get install -y {{ $packages | join " " }}
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
{{ end -}}
