{{ if (and (.data_science) (eq .chezmoi.os "linux")) -}}
#!/bin/zsh

# Below comment makes sure that if environment.yml changes, this script recompiles env.
# environment.yml hash: {{ include "util/environment.yml" | sha256sum }}
source ~/.zshrc

ENV_NAME="analytics"
ENV_PATH={{ joinPath .chezmoi.sourceDir "util/environment.yml" | quote }}

if ! conda env list | grep -q "$ENV_NAME"; then
	echo "Conda env $ENV_NAME not found, creating it."
	conda env create -n $ENV_NAME -f $ENV_PATH
else
	echo "Found changes in $ENV_PATH, or in this script, updating $ENV_NAME environment."
	conda env update -n $ENV_NAME -f $ENV_PATH --prune
fi

conda activate $ENV_NAME

# Set theme
jt -t oceans16
# Install needed extensions for jupyter ascending
jupyter nbextension install --py --sys-prefix jupyter_ascending
jupyter nbextension     enable jupyter_ascending --sys-prefix --py
jupyter serverextension enable jupyter_ascending --sys-prefix --py

{{ end -}}
