{{ if (eq .chezmoi.osRelease.id "debian") -}}
#!/bin/bash
# setup_borg_locally.yml hash: {{ include "dot_playbooks/setup_borg_locally.yml" | sha256sum }}

ansible-playbook ~/.playbooks/setup_borg_locally.yml
{{ end -}}
