{{ if ( and (.memo2) (eq .chezmoi.os "linux")) -}}
#!/bin/sh

# Packages needed for Python 3.10
{{ $packages := list
        "build-essential"
        "zlib1g-dev"
        "libncurses5-dev"
        "libgdbm-dev"
        "libnss3-dev"
        "libssl-dev"
        "libreadline-dev"
        "libffi-dev"
        "libsqlite3-dev"
        "wget"
        "libbz2-dev"
        "checkinstall"
-}}

sudo apt-get update
sudo apt-get install -y {{ $packages | join " " }}

# Install Poetry
curl -sSL https://install.python-poetry.org | python3 -
{{- end }}
