{{- $email := promptString "email" -}}
{{- $zsh := promptBool "zsh" -}}
{{- $nvim := promptBool "nvim" -}}
{{- $plasma_i3 := promptBool "plasma_i3" -}}
{{- $gui_packages := promptBool "gui_packages" -}}
{{- $data_science := promptBool "data_science" -}}
{{- $memo2 := promptBool "memo2" -}}


[data]
    email = {{ $email | quote }}
    zsh = {{ $zsh }}
    nvim = {{ $nvim }}
    plasma_i3 = {{ $plasma_i3 }}
    gui_packages = {{ $gui_packages }}
    data_science = {{ $data_science }}
    conda_dir = "~/miniconda3"
    memo2 = {{ $memo2 }}
