- name: Setup borg locally
  hosts: localhost
  gather_facts: true

  tasks:
    - name: Add borgbackup user
      user:
        name: borgbackup
        createhome: yes
        append: yes
        state: present
      become: true

    - name: Add sudoers file for borgbackup user
      copy:
        dest: /etc/sudoers.d/borgbackup
        content: "borgbackup ALL=(ALL) NOPASSWD: ALL"
        validate: 'visudo -cf %s'
      become: true

    - name: Ensure .ssh directory exists for borgbackup user
      ansible.builtin.file:
        path: "/home/borgbackup/.ssh"
        state: directory
        owner: borgbackup
        group: borgbackup
        mode: '0700'
      delegate_to: localhost
      run_once: true
      become: true

    - name: Ensure targets directory exists for borgbackup user
      ansible.builtin.file:
        path: "/home/borgbackup/targets"
        state: directory
        owner: borgbackup
        group: borgbackup
        mode: '0700'
      delegate_to: localhost
      run_once: true
      become: true

    - name: Borg is installed locally
      ansible.builtin.debug:
        msg: "Borg repo is setup and installed locally! Run `ansible-playbook ~/.playbooks/setup_(nas|storagebox).yml` to auto setup repo's there.'"
